<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDuSpVotYFBMNb0PEL1n_hgzsBzJXmyulg</string>
	<key>GCM_SENDER_ID</key>
	<string>304451776595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HandiCrafts</string>
	<key>PROJECT_ID</key>
	<string>handicraftsswiftui-804da</string>
	<key>STORAGE_BUCKET</key>
	<string>handicraftsswiftui-804da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304451776595:ios:5e6d1b08a4bc16a63856a6</string>
</dict>
</plist>